<% unless current_user.present? && current_user.is_admin %>
  <div class="banner-alignment">
  <ul class="bxslider slider-ul" >
    <li><img src="/assets/cameras18oct.jpg"></li>
    <li><img src="/assets/diwaliBumperPage_platinum.jpg"></li>
    <li><img src="/assets/mens-apparel18oct.jpg"></li>
    <li><img src="/assets/19Oct_Men'sFootwear_HP.jpg"></li>
    <li><img src="/assets/21hp.jpg"></li>
  </ul>
  <div>
<%end%>

<script>
 $(document).ready(function(){
    $('.bxslider').bxSlider({
      auto: true,
      controls: false,
      autoControls: true,
      autoHover: true,
      speed: 2000,
    });
  });
</script>
