<%= render partial:"users/sidebar"%>
<div class="alignment">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="panel-title">Email Form<h5>
    </div>  
    <div class="panel-body">
      <form name="myForm" action='<%= admin_send_email_users_path%>' method="get" onsubmit="return validateForm()" >
        <input type="text" name="sub" placeholder="Enter subject">
        </br>
        <textarea name="body" placeholder="Enter Body Of email" class="email_textarea" ></textarea>
        </br>
        <input type="submit" value="Send Email" class="btn btn-info">
      </form>
    </div>
  </div>
</div>

<script>
  function validateForm()
  {
  var x=document.forms["myForm"]["body"].value;
  var y=document.forms["myForm"]["sub"].value;
  if (x==null || x=="" || y==null || y=="")
    {
    alert("Please Enter body or subject of email");
    return false;
    }
  }
</script>
