<%= render partial:"users/sidebar"%>
<div class="alignment">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="panel-title">Search Form<h5>
    </div>  
    <div class="panel-body">
      <form action='<%=show_search_users_users_path%>' method="get">
        <input type="text" name="query" placeholder="Enter Email or Name">
        <input type="submit" value="Search" class="btn btn-danger">
      </form>
    </div>
  </div>
</div>
