wellcome Admin
<div align="right">
<%= link_to "signout",destroy_user_session_path, :method => :delete%>
</br>
<%= link_to "Add New category", add_categories_path%>
</br>
<%= link_to "Add New Product", add_products_path%>
</div> 
