.alignment
{
width:500px; 
margin:0 auto;
background-color:#D2D2D4;
padding:20px;
}

a{
  margin-right:20px;
} 
.product-alignment
{
  width:950px; 
  float:right;
  margin:0 auto;
  padding:-10px;
}

.slider-ul{
padding:0;
margin: 0 !important;
}
.banner-alignment
{
width:47%; 
margin:0px auto;
margin-left: 473px;
padding:10px;
}

.logo{
  font-size: 25px;
}

input[type="email"],input[type="radio"],input[type="number"],input[type="text"], input[type="password"]{
  height: 30px;
}
ul.products li {
      width: 25%;
      display: inline-block;
}

.float-left{
  float:left;
}

textarea{
  height: 70px;
}

.margin{
  margin:20px;
}

.cart_summary{
  background-color:#FFE0E0;
  height:100px;
}

.list_style{
  list-style-type:none;
}

.btn_group_width{
  width:93%;
}

.btn_style{
  width:100%;
  text-align:left;
}

.span_style{
  float:right;
}

.ul_style{
  width:100%;
}

.sidebar_body{
  margin-left:20px;
  width:320px;
  min-height:100%;
  float:left;
}

.sidebar_content{
  background-color:#E9E9EB;
  margin-left:20px;
  width:300px;
  min-height:500px;
  padding:10px;
}

.email_textara{
  height: 190px;width: 420px;
}
.change_status{
  width:150px;
  background-color:#F2FFD8;
}
.list-group-item {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}

.bx-wrapper{
  max-width: 47%;
}

.bx-viewport{
  width: 129%;
}

.bx-wrapper .bx-next{
  right: 189px;
}



    




