<table class="table table-striped table-bordered table-condensed">
<% @products.each do |p|%>
  <tbody>
  <tr>
    <td>
      <%= p.name%>
    </td>
    <td>
      <%= p.price%>
    </td>
  </tr>
  </tbody>
<%end%> 
 
</table>
