<%= render partial:"users/sidebar"%>
<div class="product-alignment">
  <ul class="products">
    <% @product.pictures.each do |p|%>
      <li class="thumbnail">
        <%= image_tag(p.image,:size => "166x194")%>
      </li>
    <% end %>
    <%= link_to "back",root_path%> 
  </ul>
</div>     

